################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FsMath3D/v14/.suo
/FsMath3D/bin
/FsMath3D/obj
/nuget
/FsMath3D.dll
/Package.1.5.0.nuspec
/Package.nuspec
/src/bin/Debug
/src/obj/Debug
/src/bin/Release
/src/obj/Release
